{
    "files.autoSaveDelay": 0,
    "workbench.startupEditor": "none",
    "github.copilot.enable": {
        "*": true,
        "plaintext": false,
        "markdown": false,
        "scminput": false
    },
    "files.autoSave": "afterDelay",
    "redhat.telemetry.enabled": true,
    "security.workspace.trust.untrustedFiles": "open",
    "terminal.integrated.fontFamily": "'Source Code Pro for Powerline'",
    "terminal.integrated.fontSize": 14,
    "vs-kubernetes": {
        "vscode-kubernetes.minikube-path-mac": "/Users/{{ username }}/.vs-kubernetes/tools/minikube/darwin-arm64/minikube"
    },
    "editor.fontSize": 13,
    "python.venvPath": "~/.pyenv",
    "python.venvFolders": [
        "/Users/{{ username }}/Library/Caches/pypoetry/virtualenvs"
    ],
    "files.exclude": {
        "**/__pycache__": true,
        "Documents/": true
    },
    "gitlens.statusBar.enabled": false,
    "gitlens.codeLens.enabled": false,
    "git.terminalGitEditor": true,
    "githubPullRequests.pushBranch": "always",
    "files.associations": {
        "*.sql": "sql",
        "*.yml": "yaml"
    },
    "workbench.colorTheme": "One Dark Pro",
    "workbench.iconTheme": "material-icon-theme",
    "gitlens.rebaseEditor.ordering": "asc",
    "github.gitProtocol": "ssh",
    "git.confirmSync": false,
    "python.analysis.autoImportCompletions": true,
    "[python]": {
        "editor.defaultFormatter": "ms-python.black-formatter"
    },
    "github.copilot.advanced": {},
    "editor.stickyScroll.enabled": true,
    "githubPullRequests.pullBranch": "never",
    "python.languageServer": "Pylance",
    "python.analysis.addImport.heuristics": true,
    "python.analysis.extraPaths": [
        "**/.venv/**"
    ],
    "yaml.schemas": {
        "https://json.schemastore.org/github-workflow.json": [
            "*.github/workflows/*.yaml",
            "*.github/workflows/*.yml",
        ]
    },
    "[markdown]": {
        "editor.defaultFormatter": "yzhang.markdown-all-in-one"
    }
}